__pycache__/
*.pyc
.DS_Store
.codex/
/.gigacode/*
!/.gigacode/commands/
!/.gigacode/skills/
.gigaide/
.idea/
*.iml
*.orig
/.workspace-state/
/coda-analyst.code-workspace
/documents/
/coda/
/changeswork-copy/
/reverse-diffs/
